// +-------------------------------------------------------------------------+
// | Flat UI                                                                 |
// +-------------------------------------------------------------------------+

// Greens
$ag-flat-turquoise: #1ABC9C;
$ag-flat-green-sea: #16A085;
$ag-flat-emerald: #2ECC71;
$ag-flat-nephritis: #27AE60;

// Blues
$ag-flat-peter-river: #3498DB;
$ag-flat-belize-hole: #2980B9;
$ag-flat-wet-asphalt: #34495E;
$ag-flat-midnight-blue: #2C3E50;

// Purples
$ag-flat-amethyst: #9B59B6;
$ag-flat-wisteria: #8E44AD;

// Yellows
$ag-flat-sunflower: #F1C40F;

// Oranges
$ag-flat-orange: #F39C12;
$ag-flat-carrot: #E67E22;
$ag-flat-pumpkin: #D35400;

// Reds
$ag-flat-alizarin: #E74C3C;
$ag-flat-pomegranate: #C0392B;

// Grays
$ag-flat-clouds: #ECF0F1;
$ag-flat-silver: #BDC3C7;
$ag-flat-concrete: #95A5A6;
$ag-flat-asbestos: #7F8C8D;

// Aliases make colors easier to remember.

// Greens
$ag-flat-green-1: $ag-flat-turquoise;
$ag-flat-green-2: $ag-flat-green-sea;
$ag-flat-green-3: $ag-flat-emerald;
$ag-flat-green-4: $ag-flat-nephritis;

// Blues
$ag-flat-blue-1: $ag-flat-peter-river;
$ag-flat-blue-2: $ag-flat-belize-hole;
$ag-flat-blue-3: $ag-flat-wet-asphalt;
$ag-flat-blue-4: $ag-flat-midnight-blue;

// Purples
$ag-flat-purple-1: $ag-flat-amethyst;
$ag-flat-purple-2: $ag-flat-wisteria;

// Yellows
$ag-flat-yellow-1: $ag-flat-sunflower;

// Oranges
$ag-flat-orange-1: $ag-flat-orange;
$ag-flat-orange-2: $ag-flat-carrot;
$ag-flat-orange-3: $ag-flat-pumpkin;

// Refs
$ag-flat-red-1: $ag-flat-alizarin;
$ag-flat-red-2: $ag-flat-pomegranate;

// Grays
$ag-flat-gray-1: $ag-flat-clouds;
$ag-flat-gray-2: $ag-flat-silver;
$ag-flat-gray-3: $ag-flat-concrete;
$ag-flat-gray-4: $ag-flat-asbestos;

